/*inicio de estilo de index*/
/* estilo a todo el index */
* {
    padding: 0;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    
}

/*grid*/
.gridContainer {
    background-color: #f6f5f6;
    background-position: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 1fr 0.1fr 1fr 1fr 1fr minmax(calc(1fr- 1fr - 1fr - 0.1fr - 1fr - 0.5fr), max-content) 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "imagenPrincipal imagenPrincipal imagenPrincipal "
        "header header header "
        ". main  ."
        "section section section"
        "footer footer footer ";

}

.gridContainer .imagenPrincipal {
    grid-area: imagenPrincipal;

}

.gridContainer header {
    grid-area: header;
}

.gridContainer main {
    grid-area: main
}

.gridContainer section {
    grid-area: section;
    grid-column: span 3;

}

.gridContainer footer {
    grid-area: footer
}

/*grid TURNOS*/
.gridContainer .instrucciones {
    grid-area: section;
    grid-column: 1;

}

/*grid MODELOS*/
.gridContainer .imagenesNails {
    grid-area: section;
    

}

/*grid CONTACTO*/
.gridContainer .formularioContacto {
    grid-area: section;
    grid-column: span 1
}

/*grid PRECIOS*/
.gridContainer .tablaPrecios {
    grid-area: section;
}


.imagenPrincipal {
    background-image: url(../img/nails6.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}
/*fin grid*/
/*estilo inicio de pagina*/
.logo {
    display: flex;
    justify-content: center;
}

/*estilo de nav*/
header {
    background: #C74B50;
    text-decoration: none;
    text-align: center;
    position: sticky;
    width: 100%;
    display: inline-block;
    top: 0%;
    border:#C74B50 10px solid;


    
}

.menuNavegacion a {
    text-decoration: none;
    color: #f6f5f6;
    list-style-type: none;
    font-size: 1.5rem;
    width: 100%;
    top: 0%;
    margin: 1rem;
    border-radius: 5px;

}


li a:hover {
    background-color: #46244C;
    transition: .5s;
    border: #46244C 5px solid;

}

.botonCheck {
    font-size: 1.5rem;
    color: #f6f5f6;
    text-align: center;
    display: none;
}



#check {
    display: none;
}

li {
    background-color: transparent;
    margin-right: 1rem;
    display: inline-block;


}

/*estilo de contenido*/
main {
    color: #46244C;
    text-align: center;
    margin: 10%;
    height: 100%;
}

section {

    margin: 10%;
    text-align: justify;
    top: 0%;
}

h3 {
    color: #712B75;
    font-size: 1.5rem;
}

h4 {
    color: #C74B50;
    font-size: 1.5rem;
}

/*estilo de fin de pagina*/
footer {
    text-align: right;
    font-style: italic;
    background-image: url(../img/BACKGROUND6.jpg);
    background-size:cover;
    display: grid;
    position:relative;

}

footer p {
    font-size: 1.5rem;
    margin-right:20px;
}

footer a {
    color: black;
    font-size: 1rem;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;

}

/* fin de estilo de index */
/*inicio estilo precios*/
.tablaPrecios {
    text-align: center;
    display: flex;
    justify-content: center;
}

/*inicio estilo contacto*/
.formularioContacto {
    text-align: center;

}

.botonesFormularioContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;


}

/*inicio estilo turnos*/
.instrucciones {
    text-align: right;

}

/*inicio estilo modelos*/
.imagenesNails {
    align-items: center;
    position: relative;
    max-width: 30rem;
    max-height: auto;

}


@media only screen and (max-width: 800px) {

    .botonCheck {
        display: block;

    }
    

    .menuNavegacion {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #C74B50;
        left: -100%;
        text-align: center;
        transition: all 0.5s;

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a {
        font-size: 20px;

    }

    li a:hover li a.active {
        background:none;

    }

    #check:checked~.menuNavegacion {
        left: 0;

    }


    h3 {
        color: #712B75;
        font-size: 1rem;
    }

    h4 {
        color: #C74B50;
        font-size: 1rem;
    }

    footer {
        text-align: right;
        font-style: italic;
        background-image: url(../img/BACKGROUND6.jpg);
        background-size:cover;
        display: grid;
        position:relative;
        width:100%;

    }
    
    footer p {
        font-size: 1.5rem;
        
    }
    
    footer a {
        color: black;
        font-size: 1rem;
        text-decoration: none;
    
    }
    
    footer a:hover {
        text-decoration: underline;
    
    }
    
    .imagenPrincipal {
        background-image: url(../img/nails6.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    /*grid responsive*/
    .gridContainer {
        background-color: #f6f5f6;
        display: grid;
        grid-gap: 1rem;
        grid-template-rows: 1fr 0.1fr minmax(calc(1fr - 0.1fr - 0.5fr), max-content) 0.5fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "imagenPrincipal imagenPrincipal  "
            "header header "
            "main main"
            "section section"
            "footer footer ";

    }

    .gridContainer .imagenPrincipal {
        grid-area: imagenPrincipal;

    }

    .gridContainer header {
        grid-area: header;
        grid-column-start: 1;

    }

    .gridContainer main {
        grid-area: main
    }

    .gridContainer section {
        grid-area: section;
        grid-column: span 2;

    }


    .gridContainer footer {
        grid-area: footer;

    }

    /*grid TURNOS*/
    .gridContainer .instrucciones {
        grid-area: section;
        grid-column: 1;


    }

    .gridContainer .formularioTurnos {
        grid-area: section;
        grid-column: 2;
    }

    /*grid MODELOS*/
    .gridContainer .imagenesNails {
        grid-area: section;
        grid-column: span 3;

    }

    /*grid CONTACTO*/
    .gridContainer .formularioContacto {
        grid-area: section;
        grid-column: span 1
    }
    /*grid responsive*/
}