/*decoracion del sitio*/
header {
    position: sticky;
    background: $color3;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border: $color3 10px solid;
}


.logo {
    display: flex;
    background-color: #f6f5f6;
    justify-content: center;
    margin-top: 1%;
}

.menuNavegacion a {
    text-decoration: none;
    color: $color4;
    list-style-type: none;
    font-size: 1.5rem;
    width: 100%;
    top: 0%;
    margin: 1rem;
    border-radius: 5px;

}


.botonCheck {
    font-size: 1.5rem;
    color: #46244C;
    text-align: center;
    display:none;
}

#check {
    display: none;
}


nav a:hover {
    background-color: #46244C;
    transition: .2s;
    border: #46244C 6px solid;
    text-decoration: none;
    color: #f6f5f6;
}


li {
    background-color: transparent;
    margin-right: 1rem;
    display: inline-block;
}


h1 {
    text-align: center;


}

h2,
h3,
.bienvenidos {
    text-align: justify;
    color: $color3;


}

.fondo {
    background-image: url(../img/BACKGROUND.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



footer {

    i {
        color: $color4;

        &:hover {
            transform: scale(1.5);
            transition: 5;
            color: $color3;
        }
    }

    li {
        text-decoration: none;
        list-style: none;
        font-size: 1.5em;

    }

    li:hover {
        color: $color4;
    }

}