/*decoracion del sitio*/
header {
    background: $color3;
    text-decoration: none;
    text-align: center;
    border: $color3 10px solid;

}


.imagenPrincipal {
    background-color: #f6f5f6;
    text-align: center;


}


.menuNavegacion a {
    text-decoration: none;
    color: $color4;
    list-style-type: none;
    font-size: 1.5rem;
    width: 100%;
    top: 0%;
    margin: 1rem;
    border-radius: 5px;

}


.botonCheck {
    font-size: 1.5rem;
    color: #46244C;
    text-align: center;
    display: none;
}

#check {
    display: none;
}


nav a:hover {
    background-color: #46244C;
    transition: .2s;
    border: #46244C 6px solid;
    text-decoration: none;
    color: #f6f5f6;
}


li {
    background-color: transparent;
    margin-right: 1rem;
    display: inline-block;
}


h1 {
    text-align: center;
    color: $color1;
}

h2,
h3 {
    text-align: justify;
    color: $color4;


}


.fondo {
    background-size: cover;
    background-repeat: no-repeat;
}
.formularioContacto {

    text-decoration: #864879;

    button {
        color:#46244C;
        border: #46244C 2px solid;

    }
    button:hover {
        color: #E9A6A6;
        border: #E9A6A6 2px solid;
    }
}
.listaPrecios {
    h2 {
        font-size: 2em;
    }

    td {
        font-size: 1.3em;
    }
}

footer {

    i {
        color: $color4;

        &:hover {
            transform: scale(1.5);
            transition: 5;
            color: $color3;
        }
    }

    li {
        text-decoration: none;
        list-style: none;
        font-size: 1.5em;

    }

    li:hover {
        color: $color4;
    }

}