/*estructura del sitio*/
* {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 1em;
    margin-top: 1em;

}

h1,
h2,
h3 {
    padding: 1em;

}

.fondo {
    margin-top: 1em;
}

.formularioTurnos {
    margin: 2em;
}
.formularioContacto {
    margin: 2em;
}
.imagenesNails {
    position: relative;
    margin: 5em;
    
}
.tablaPrecios {
    margin: 10em;
}
footer {
    .redes {
        text-align: center;
    }



    li {

        display: inline-flex;
        padding: 0.5em;

    }
    
   

    .mediosPago {    
        text-align:center;
        max-width:33%;
        padding: 1em;

    }

}