/*estructura del sitio*/
* {
    margin: 0;
    padding: 0;
}


h1,
h2,
h3 {
    padding: 1em;

}
body {
    height: 100vh;
}
.contenidoPrincipal {
    justify-content: center;

}

video {
    width: 100%;
    height: auto;
    }
.mapa {
    width: 100%;
    text-align: center;    
}

.imagenPrincipal {
    width: 100%;
}

.formularioTurnos {
    margin: 2em;
    text-align: center;
}
.formularioContacto {
    margin: 2em;
}
.imagenesNails {
    position: relative;
    margin: 5em;
    
}


#imagenesNails {
    margin-left: 20%;
    margin-right: 20%;

}
table {
    width: 100%;
    align-items: center;
}

footer {
    .redes {
        text-align: center;
    }



    li {

        display: inline-flex;
        padding: 0.5em;

    }
    
   

    .mediosPago {    
        text-align:center;
        max-width:33%;
        padding: 1em;

    }
    

}