/*responsive*/
@media only screen and (min-width: 780px) {
    .botonCheck {
        display:none;
    }


}



@media only screen and (max-width: 780px) {
    footer {    
        text-align:center;
        flex-flow:column-reverse;
        margin: 2em;
        max-width:max-content;
    }
    .botonCheck {
        display:block !important;
    }

    .menuNavegacion {
        position: absolute;
        background: #E9A6A6;
        left: -120%;
        text-align: center;
        transition: all 0.5s;
        width: max-content;
        height: 150vh;
    }

    nav ul li {
        display:block;
        margin: 50px;
        line-height: 30px;
        
    }

    nav ul li a {
        font-size: 20px;

    }

    li a:hover li a.active {
        background:none;

    }

    #check:checked~.menuNavegacion {
        left: -10%;

    }

    .listaPrecios {
        h2 {
            font-size: 1.5em;
        }
        td {
        font-size: 0.5em;
        }
    }


    
}
