* {
  padding: 0;
  margin: 0;
  font-family: "Assistant", sans-serif;
}

/*.gridContainer {
	background-color: $background_color_1;
	background-position: 100%;
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: 1fr 0.1fr 1fr 1fr 1fr minmax(calc(1fr- 1fr - 1fr - 0.1fr - 1fr - 0.5fr), max-content) 0.5fr;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "imagenPrincipal imagenPrincipal imagenPrincipal ""header header header "". main  ." "section section section" "footer footer footer ";
	.imagenPrincipal {
		grid-area: imagenPrincipal;
	}
	header {
		grid-area: header;
	}
	main {
		grid-area: main;
	}
	section {
		grid-area: section;
		grid-column: span 3;
	}
	footer {
		grid-area: footer;
	}
	.instrucciones {
		grid-area: section;
		grid-column: 1;
	}
	.imagenesNails {
		grid-area: section;
	}
	.formularioContacto {
		grid-area: section;
		grid-column: span 1;
	}
	.tablaPrecios {
		grid-area: section;
	}
}*/
.imagenPrincipal {
  background-image: url(../img/nails6.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f6f5f6;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  background: #C74B50;
  text-decoration: none;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  display: inline-block;
  top: 0%;
  border: #C74B50 10px solid;
}

.menuNavegacion a {
  text-decoration: none;
  color: #f6f5f6;
  list-style-type: none;
  font-size: 1.5rem;
  width: 100%;
  top: 0%;
  margin: 1rem;
  border-radius: 5px;
}

li {
  background-color: transparent;
  margin-right: 1rem;
  display: inline-block;
}

li a:hover {
  background-color: #46244C;
  -webkit-transition: .2s;
  transition: .2s;
  border: #46244C, 6px solid;
  text-decoration: none;
  color: #f6f5f6;
}

.botonCheck {
  font-size: 1.5rem;
  color: #f6f5f6;
  text-align: center;
  display: none;
}

#check {
  display: none;
}

main {
  color: #46244C;
  text-align: center;
  margin: 10%;
  height: 100%;
}

section {
  margin: 10%;
  text-align: justify;
  top: 0%;
}

h3 {
  color: #712B75;
  font-size: 1.5rem;
}

h4 {
  color: #C74B50;
  font-size: 1.5rem;
}

footer {
  text-align: right;
  font-style: italic;
  background-image: url(../img/BACKGROUND6.jpg);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  position: relative;
}

footer p {
  font-size: 1.5rem;
  margin-right: 20px;
}

footer a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.tablaPrecios {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formularioContacto {
  text-align: center;
}

.botonesFormularioContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

.instrucciones {
  text-align: right;
}

@media only screen and (max-width: 800px) {
  .botonCheck {
    display: block;
  }
  .menuNavegacion {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #C74B50;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover li a.active {
    background: none;
  }
  #check:checked ~ .menuNavegacion {
    left: 0;
  }
}

h3 {
  color: #712B75;
  font-size: 1rem;
}

h4 {
  color: #C74B50;
  font-size: 1rem;
}

footer {
  text-align: right;
  font-style: italic;
  background-image: url(../img/BACKGROUND6.jpg);
  background-size: cover;
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
}

footer p {
  font-size: 1.5rem;
}

footer a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.imagenPrincipal {
  background-image: url(../img/nails6.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/*	.gridContainer {
		background-color: $background_color_1;
		display: grid;
		grid-gap: 1rem;
		grid-template-rows: 1fr 0.1fr minmax(calc(1fr - 0.1fr - 0.5fr), max-content) 0.5fr;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "imagenPrincipal imagenPrincipal  ""header header ""main main" "section section" "footer footer ";
		.imagenPrincipal {
			grid-area: imagenPrincipal;
		}
		header {
			grid-area: header;
			grid-column-start: 1;
		}
		main {
			grid-area: main;
		}
		section {
			grid-area: section;
			grid-column: span 2;
		}
		footer {
			grid-area: footer;
		}
		.instrucciones {
			grid-area: section;
			grid-column: 1;
		}
		.formularioTurnos {
			grid-area: section;
			grid-column: 2;
		}
		.imagenesNails {
			grid-area: section;
			grid-column: span 3;
		}
		.formularioContacto {
			grid-area: section;
			grid-column: span 1;
		}
	}	*/
/*# sourceMappingURL=estilo.css.map */